/*-----------------------top---------------------------------------*/
@use '../base/variables' as *;
@use '../base/mixins' as *;


.top{
    @include flex-top;

    &__logo_img{
        display: block;
        width: $logo-img-size;
    }
     
  
    &__logo{
        @include flex-row; 
        margin-top:  $offset-4;
        margin-bottom:  $offset-4;
    } 
}

.main{
    @include flex-row;

    .nav{
        width: 70%;
        max-width: 1200px;
        margin: 0 auto;
        box-shadow:  inset 0 -3em 3em white,0.3em 0.3em 1em  $block-color-grey-shadow;
        padding:  $offset-7;

        &__h1{
            @include flex-row;
            font-size: $h1-font-size;
            align-items: center;        // ← Выравнивание по центру (вертикально)
            text-align: center; 
            font-weight:  $font-bold;
        }

        &__inner{
            @include flex-column;
            margin-top: $offset-4;
        }

        &__inner_link{
            @include flex-row;
            @include link;
            margin: $offset-2;
            color: $logo-color-blue;
        }

       

    }
}

 .footer{
         margin-top: $offset-7;
         text-align: center; 
    }

    @media (min-width: 768px) and (max-width: 1024px) {
          
        .main{
                .nav{
                    
                     &__h1{
                           font-size: $h1-font-size + 0.2;
                     }

                      &__inner_link{
                           font-size: $link-font-size + 0.2;  
                     }
                }


            }

    }



    @media (min-width:320px) and (max-width:767px){

         .top{
            
              &__logo_img{
                width: $logo-img-size - 40%;
            }

        }

        .main{
                .nav{
                    
                     &__h1{
                           font-size: $h1-font-size - 1.3;
                     }

                      &__inner_link{
                           font-size: $link-font-size - 0.7;  
                     }
                }


            }

            .footer{
                  
                &__p{
                       font-size: $footer-font-size - 0.4;
                }
             
            }

        
    }
