html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ECF0F1;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 85vw;
  max-width: 1250px;
  margin: 0 auto 0 auto;
}

/*-----------------------top---------------------------------------*/
.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.top__img {
  display: block;
}
.top__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main .nav {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: inset 0 -3em 3em white, 0.3em 0.3em 1em #A1A1A1;
  padding: 7%;
}
.main .nav__h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2.2em;
  align-items: center;
  text-align: center;
  font-weight: 600;
}
.main .nav__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}
.main .nav__inner_link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5em;
}
.main .nav__inner_link:hover {
  color: #136295;
  text-decoration: underline;
  transition: all 0.3s ease;
}
.main .nav__inner_link {
  margin: 2%;
  color: #3a8ac0;
}

.footer {
  margin-top: 7%;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main .nav {
    width: 100%;
  }
  .main .nav__h1 {
    font-size: 1.7em;
  }
  .main .nav__inner_link {
    font-size: 1em;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .top__logo_img {
    width: 60%;
  }
  .main .nav__h1 {
    font-size: 2.7em;
  }
  .main .nav__inner_link {
    font-size: 1.5em;
  }
  .footer {
    font-size: 0.7em;
  }
}
/*-----------------------top---------------------------------------*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .combo {
  width: 70%;
  box-shadow: inset 0 -3em 3em white, 0.3em 0.3em 1em #A1A1A1;
  padding: 7%;
}
.main .combo__h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2.2em;
  align-items: center;
  text-align: center;
  font-weight: 600;
}
.main .combo__p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main .combo__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5em;
}
.main .combo__link:hover {
  color: #136295;
  text-decoration: underline;
  transition: all 0.3s ease;
}
.main .combo__link {
  margin: 2%;
  color: #3a8ac0;
}
.main .combo__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.main .combo__form_input {
  width: 400px;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 4%;
  font-size: 0.8em;
  border: none;
  border-bottom: 2px solid #8ECBF3;
  background: transparent;
  outline: none;
  transition: border-color 0.3s ease;
}
.main .combo__form_button {
  width: 400px;
  min-height: 40px;
  font-size: 0.9em;
  background-color: #39A1E6;
  border: none;
  color: white;
}
.main .combo__err {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.2em;
  background-color: #E53852;
  color: white;
  padding: 10px;
  margin-top: 2%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main .combo__h1 {
    font-size: 1.7em;
  }
  .main .combo__inner_link {
    font-size: 1em;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .top__logo_img {
    width: 60%;
  }
  .main .combo {
    width: 100%;
  }
  .main .combo__h1 {
    font-size: 0.5em;
  }
  .main .combo__inner_link {
    font-size: 0.5em;
  }
  .footer {
    font-size: 0.7em;
  }
}/*# sourceMappingURL=main.css.map */